@media (min-width: $mobile-width){
  .buttons-slider{
    display: flex;
    flex-direction: row;
    padding-bottom: 38px;
    padding-top: 32px;
  }
  .buttons-slider__item{
    width: 130px;
    height: 52px;
    background-color: white;
    border: solid 1px $borders;
  }
  .buttons-slider__item--prev{
    font-size: 0px;
    background-image: url("../img/huge-arrow-left.svg");
    background-repeat: no-repeat;
    background-position: center;
  }
  .buttons-slider__item--next{
    font-size: 0px;
    background-image: url("../img/huge-arrow-right.svg");
    background-repeat: no-repeat;
    background-position: center;
  }
}
.buttons-slider__item:hover{
  opacity: 0.6;
}
.buttons-slider__item:active{
  opacity: 0.3;
}
