@media (min-width: $mobile-width){
  .gods{
    width: 260px;
    margin: 0 auto;
  }
  .gods-item:first-child{
    margin-top: 30px;
  }
  .gods-item{
    margin-bottom: 30px;
    box-shadow: 1px 1px 0 0 $white-four,inset 1px 1px 0 0 $white-four;
  }
  .gods-item__name{
    font-size: 17px;
    line-height: 24px;
    padding-left: 27px;
  }
  .gods-item__description{
    font-size: 13px;
    line-height: 30px;
    color: $greyish-brown;
    padding-left: 27px;
  }
  .gods-item__price{
    width: 205px;
    font-size: 15px;
    line-height: 24px;
    font-weight: bold;
    background-image: url("/img/icon-cart.svg");
    background-repeat: no-repeat;
    background-size: 20px 19px;
    background-position: 186px;
    box-shadow: 0px 1px 0 0 $white-four,inset 0px 1px 0 0 $white-four;
    padding-top: 27px;
    margin-left: 27px;
    padding-bottom: 27px;
  }
}
