@media (min-width: $mobile-width){
  .gods-week{
    padding-left: 32px;
    padding-right: 42px;
    padding-top: 34px;
  }
  .heading{
    font-size: 25px;
  }
  .gods-week__additionally{
    color: $seafoam-blue;
    font-size: 17px;
    text-transform: uppercase;
    line-height: 17px;
  }
  .gods-week__description{
    padding-top: 20px;
    padding-bottom: 33px;
    color: #444444;
    font-size: 15px;
    line-height: 24px;
  }
  .gods-week__imagine{
    padding-top: 28px;
  }
  .gods-week__price{
    text-align: center;
    font-size: 17px;
    font-weight: 24px;
    color: $greyish-brown;
  }
  .gods-week__table__column{
    color: #444444;
    padding-right: 30px;
    box-shadow: 0px 1px 0 0 $white-four,inset 0px 0px 0 0 $white-four;
  }
}

@media (min-width: $tablet-width){
  .gods-week{
    width: 668px;
    margin: 0 auto;

    }
  .gods-week__heading{
    width: 420px;
    padding-right: 150px;
    font-size: 43px;
    }
  .gods-week__additionally{
    width: 70px;
    font-size: 17px;
    }
  .gods-week__description{
    width: 282px;
    font-size: 17px;
    }

  .gods-week__table{
  }
  .gods-week__table__column{
    color: #444444;
    padding-right: 30px;
    box-shadow: 0px 1px 0 0 $white-four,inset 0px 0px 0 0 $white-four;
  }
}

@media (min-width: $desktop-width){

}
