@media (min-width: $mobile-width){
  .main-nav__toggle{
    display: block;
    margin-left: 269px;
    width: 20px;
    height: 14px;
    border: none;
    background-color: white;
    background-image: url("/img/menu-svg.svg");
    background-repeat: no-repeat;
    background-size: 20px 14px;
  }
  .main-nav__wrapper{
    height: 325px;
    width: 320px;
  }
  .main-nav__list{
    padding: 0;
    margin: 0 auto;
  }
  .main-nav__item{
    padding-top: 32px;
    padding-bottom: 30px;
    text-align: center;
    font-size: 17px;
    font-weight: bold;
    list-style: none;
    box-shadow: 0px 1px 0 0 $white-four,inset 0px 1px 0 0 $white-four;
  }
  .main-nav__item--search{
    background-image: url("/img/search-svg.svg");
    background-repeat: no-repeat;
    background-size: 18px 18px;
    background-position: 32px;
  }
  .main-nav__item--basket{
    background-image: url("/img/cart-svg.svg");
    background-repeat: no-repeat;
    background-size: 18px 18px;
    background-position: 32px;
  }
  //НАВЕДЕНИЕ И НАЖАТИЕ
  .main-nav__item:hover{
    opacity: 0.6;
  }
  .main-nav__item--search:hover{
    opacity: 0.6;
  }
  .main-nav__item--basket:hover{
    opacity: 0.6;
  }
  .main-nav__item:active{
    opacity: 0.3;
  }
  .main-nav__item--search:active{
    opacity: 0.3;
  }
  .main-nav__item--basket:active{
    opacity: 0.3;
  }
}

@media (min-width: $tablet-width){
  .main-nav__toggle{
    margin-left: 269px;
    width: 20px;
    height: 14px;
    border: none;
    background-color: white;
  }
  .main-nav{
    margin-left: 243px;
  }
  .main-nav__wrapper{
    margin-top: 100px;
    height: 158px;
    width: 620px;
  }
  .main-nav__list li{
    display: inline;
  }
  .main-nav__item{
    padding-top: 32px;
    padding-bottom: 30px;
    display: block;
    text-align: center;
    font-size: 17px;
    font-weight: bold;
    list-style: none;
    box-shadow: 0px 1px 0 0 $white-four,inset 0px 1px 0 0 $white-four;
  }
  .main-nav__item--search{
    background-image: url("/img/search-svg.svg");
    background-repeat: no-repeat;
    background-size: 18px 18px;
    background-position: 32px;
  }
  .main-nav__item--basket{
    background-image: url("/img/cart-svg.svg");
    background-repeat: no-repeat;
    background-size: 18px 18px;
    background-position: 32px;
  }
  //НАВЕДЕНИЕ И НАЖАТИЕ
  .main-nav__item:hover{
    opacity: 0.6;
  }
  .main-nav__item--search:hover{
    opacity: 0.6;
  }
  .main-nav__item--basket:hover{
    opacity: 0.6;
  }
  .main-nav__item:active{
    opacity: 0.3;
  }
  .main-nav__item--search:active{
    opacity: 0.3;
  }
  .main-nav__item--basket:active{
    opacity: 0.3;
  }
}

@media (min-width: $desktop-width){
  .main-nav__toggle{
    width: 20px;
    height: 14px;
    border: none;
    background-color: white;
  }
  .main-nav__wrapper{
    margin-top: 100px;
    height: 158px;
    width: 1020px;
  }
  .main-nav__list li{
    display: inline;
  }
  .main-nav__item{
    padding-top: 32px;
    padding-bottom: 30px;
    display: block;
    text-align: center;
    font-size: 17px;
    font-weight: bold;
    list-style: none;
    box-shadow: 0px 1px 0 0 $white-four,inset 0px 1px 0 0 $white-four;
  }
  .main-nav__item--search{
    background-image: url("/img/search-svg.svg");
    background-size: 18px 18px;
    background-position: 32px;
  }
  .main-nav__item--basket{
    background-image: url("/img/cart-svg.svg");
    background-size: 18px 18px;
    background-position: 32px;
  }
  //НАВЕДЕНИЕ И НАЖАТИЕ
  .main-nav__item:hover{
    opacity: 0.6;
  }
  .main-nav__item--search:hover{
    opacity: 0.6;
  }
  .main-nav__item--basket:hover{
    opacity: 0.6;
  }
  .main-nav__item:active{
    opacity: 0.3;
  }
  .main-nav__item--search:active{
    opacity: 0.3;
  }
  .main-nav__item--basket:active{
    opacity: 0.3;
  }
}
