@fontface{
  font-family: "OpenSans";
  src : url("../fonts/opensans.woff") format('woff');
  src : url("../fonts/opensans.woff2") format('woff2');
  font-weight: normal;
  font-style: normal;

  font-family: "OpenSans-bold";
  src : url("../fonts/opensansbold.woff") format('woff');
  src : url("../fonts/opensansbold.woff2") format('woff2');
  font-weight: bold;
  font-style: normal;
}
