body{
  font-family: 'opensans';
  padding: 0px;
  margin: 0px;
}
a{
  text-decoration: none;
  color: #000;

}
ul{
  padding: 0px;
  margin: 0px;
}
li{
  list-style: none;
  text-decoration: none;
}
img{
  border: 0;
}
